<app-encabezado></app-encabezado>
<ion-content [fullscreen]="true">
  <app-menu></app-menu> 

  <div clas ="container">
    <div class="Concurso de robotica">
      <div clas ="container">
        <div class="titulo1 " role="alert">  
        <div class="container-fluid-row">
            <p><p class="text-center text-white " style="margin-left: 150px;">  
        </div>
      </div>

  <div class="taller presencial">
  <div clas ="container">
    <div class="titulo fluid-row rounded shadow-lg mt-3 mb-4 " role="alert">  
    <div class="container-fluid-row">
      <p class="text-white">
      <a class="navbar-brand" ><strong>APLICACIONES DE SENSORES EN ROBÓTICA </strong></a>   
    </div>
  </div>
  
    <div id =img >
      <img src="../../assets/icon/LUIS ALBERTO.jpeg"width="350" height="300" alt="con" style="display: flex;" >  
    </div>
  
    <div class="alert alert-primary-fluid-row rounded shadow-lg mt-5 mb-4 " role="alert">  
      <p><p class="text-justify">
        <strong> DR. LUIS ALBERTO PINEDA CORTÉS</strong><br>
        <br/>
        Ingeniero Electrónico por la Universidad Anahuac (1976-1980), M. en C. en Ciencias Computacionales, por el ITESM (1983-1985), Campus Morelos y doctor (PhD) p
        or la Universidad de Edimburgo, Escocia (1986-1990). Se desempeñó como ingeniero de diseño en la empresa Puromex (1979-1981) y como gerente del centro de cómputo de NCR 
        de México (1981-1983). Inició sus labores de investigación en el Instituto de Investigaciones Eléctricas (IIE) donde se desempeñó como investigador en dos ocasiones 
        (1983-1986 y 1992-1998). Fue investigador asociado en la Universidad de Edimburgo (1989-1992). En 1998 se incorporó al IIMAS, UNAM, donde fue jefe del Departamento de 
        Ciencias de la Computación de 1998 a 2002, del 2005 al 2010, y lo es nuevamente a partir de abril de 2018. Realizó una estancia en la Universidad Estatal de Ohio de 
        enero a junio de 2003 y un año sabático en la Universidad Técnica de Viena en el 2011. En el aspecto de investigación es autor del libro Racionalidad Computacional 
        (2020, 252 p.) de 32 artículos incluidos en el JCR de los cuales 16 están actualmente en el quartil Q1 y 9 en el Q2 de 12 artículos adicionales publicados en revistas 
        arbitradas incluidas en otros índices nacionales e internacionales de 3 artículos en repositorios internacionales de 35 capítulos de libro y memorias publicados por editoriales 
        de prestigio internacional de 8 artículos de política científica y vinculación y de 6 artículos adicionales disponibles en su página de web. 
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-2 text-center">
        <div class="horario alert-primary-fluid-row rounded shadow-lg mt-2 mb-5" role="alert">  
          <p class="text-center">
            <strong>Martes 17 enero 2024</strong> <br>
            De 11:50:00 hrs. a 12:40:00 hrs.
          </p>
        </div>
      </div>
    </div>


    <div class="mapa-fluid-row lg mt-3 mb-5 ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.7199258378682!2d-99.04318542316133!3d19.510681938179527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fa94a2bf91f9%3A0x700d93a5d515a259!2sTecNM%20-%20Tecnol%C3%B3gico%20de%20Estudios%20Superiores%20de%20Ecatepec!5e0!3m2!1ses-419!2sus!4v1709743253329!5m2!1ses-419!2sus" 
     width="1400px" height="400px" style="border:0;" ml="350px" referrerpolicy="no-referrer-when-downgrade" ></iframe>
    </div>
  </div>
</div>
</div>  <app-pie></app-pie>
