<app-encabezado-soc></app-encabezado-soc>
<ion-content [fullscreen]="true">
<app-menu-soc></app-menu-soc>




<div class=" Pagos">
  <div clas ="container">
    <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white " >
          <strong> Pagos </strong><br>
    </div>
  </div>

  <div class=" info alert-primary-fluid-row rounded shadow-lg mt-5 mb-5 " role="alert">  
    <p><p class="text-justify">
      La SMCTSM agradece las generosas aportaciones que se hacen y que contribuye a mantener las 
      actividades propias de la sociedad, como lo es la organización del congreso anual (ICSMV) y la edición de la revista de Superficies y Vacío. Los datos bancarios para realizar pagos de membresía, inscripción, publicaciones y otros son los siguientes:
  </div>

  <div class="container text-center">
    <div class="row">
  <div class="subtitulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white " >
          <strong> Recepción de pagos </strong><br>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
        <div class="datos alert-primary-fluid-row rounded shadow-lg mt-2 mb-5" role="alert">  
          <p style="text-align: justify;">
            <strong>Pago a través de Bancos Mexicanos:</strong><br>
            BANCOMER: Cuenta No. 0148388164<br>
            CLABE:<strong> 012 180 00148388164 3<br></strong>
            A nombre de: <strong>Soc. Mex. Ciencia y Tec. de Sup. y Mat  <br> </strong>         
            Si el pago se va a efectuar por transferencia electrónica (SPEI), escriba por favor, su nombre en la línea “concepto”.<br>
            Si el pago se efectúa en ventanilla de banco o se hace a través de transferencia bancaria (SPEI).</p>
        </div>
      </div>
    
      <div class="datos alert-primary-fluid-row rounded shadow-lg mt-2 mb-5" role="alert">  
        <p style="text-align: justify;">
            <strong>Pagos de no Bancos Mexicanos:</strong><br>
            SWIFT code: BCMRMXMM<br>
            Account: 0148388164<br>
            In the name of: SOCIEDAD MEXICANA DE CIENCIA Y TECNOLOGIA DE SUPERFICIES Y MATERIALES<br>
            Bank name: BBVA Bancomer<br>
            Address: Av. IPN 1200, Col. Lindavista, 07300 México D.F <br>
            ABA: 021000021
        </p>
    </div>
    
    <div class="info2 alert-primary-fluid-row rounded shadow-lg" role="alert">  
        <p style="text-align: justify;">
            *Envíe una copia escaneada a través del formulario de “Comprobante de pago” localizado en el menú de miembros.
            <strong> (Tener cuenta creada y acceder a ella).</strong>
        </p>
    </div>
  </div>
</div>
</div>

<app-pie-soc></app-pie-soc>