<div class="container">
  <div class="margin-dynamic left"></div>
  <div class="margin-dynamic right"></div>


<div class="Inicio Sociedad">
  <div class="tituloPrin fluid-row rounded shadow-lg mt-3 mb-5" role="alert">
    <div class="container-fluid-row">
      <p class="text-center text-white ">
        <strong>¿Quienes somos?</strong><br>
      </div>
    </div>
  </div>


  <div class="info1 alert-primary-fluid-row rounded shadow-lg mt-5 mb-5" role="alert">
    <p class="text-justify">
      La Sociedad Mexicana de Ingenería en Tecnologias de la Información, Mecatronica y Telematica tuvo sus orígenes en el siglo pasado, en la década de los setentas, cuando se aglutinaron diferentes grupos dedicados principalmente al estudio de Superficies, donde los principales Centros de Investigación establecidos en la Ciudad de México se destacaron por su impulso a estas actividades.
      Promoviendo el uso, desarrollo, difusión y divulgación de la Ciencia y Tecologia de la Ingeniería en Sistemas Computacionles, Informatica, Mecatrónica e Industrial y en Electronica.
    </div>




<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="info2 alert-primary-fluid-row rounded shadow-lg mt-2 mb-5" role="alert">
        <p class="title text-center"><strong>MISIÓN</strong></p>
      </div>
      <div class="info-content">
        <p>
          Ofrecer educación superior tecnológica pertinente e integral de calidad, para formar profesionistas con atributos de egreso y competencias para identificar y resolver problemas de su especialidad, con un sentido científico, tecnológico, humanístico, ético y sostenible, comprometidos con el desarrollo tecnológico, con sentido social, así como generar y aplicar conocimientos en beneficio del entorno Local, Estatal y Nacional.
        </p>
      </div>
    </div>


    <div class="col-md-6">
      <div class="info2 alert-primary-fluid-row rounded shadow-lg mt-2 mb-5" role="alert">
        <p class="title text-center"><strong>VISIÓN</strong></p>
      </div>

      <div class="info-content">
        <p>
          Ser la Institución de Educación Superior Tecnológica del Estado de México y del país con reconocimiento nacional e internacional en la generación y aplicación del conocimiento, por la excelencia de la formación y los servicios que otorga, para la generación de soluciones innovadoras que aporten a las prioridades locales, estatales y nacionales en un ambiente sostenible, de inclusión, equidad y transparencia.
        </p>
      </div>
    </div>


  </div>
</div>

</div>