.titulo1{
  width: 100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 22px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;;
} 
.titulo{
  width: 1650px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2471A3;
  font-size: 26px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;;
} 
  .card-body{
    background-color: #2471A3;
    color:#EAEDED;
    font-size: 22px;
  }