<app-encabezado></app-encabezado>
    
<ion-content [fullscreen]="true">
   
    <app-menu></app-menu> 
    <app-slider> </app-slider>
    


<div clas ="container">
    <div class="Concurso de robotica">
      <div clas ="container">
        <div class="titulo1 " role="alert">  
        <div class="container-fluid-row">
            <p><p class="text-center text-white " style="margin-left: 150px;">  
        </div>
      </div>
      
<div class="MenuTalleres">
  <div clas ="container">
    <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white ">
          <strong> TALLERES </strong><br>
    </div>
  </div>

  <div class="cards">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Primera tarjeta -->
        <div class="col-md-5 mx-3 mb-4">
          <div class="card rounded shadow-lg text-center align-items-center" style="background-color: #2471A3;" >
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
            <div class="card-body">
              <a routerLink="/listadotaller"class="card-link text-white"font-size= "22px;">  <strong> TALLERES PRESENCIALES  </strong> <br/> </a>
              <p class="card-text text-white"></p>
            </div>
          </div>
        </div>
  
        <!-- Segunda tarjeta -->
        <div class="col-md-5 mx-3 mb-4">
          <div class="card rounded shadow-lg text-center align-items-center" style="background-color: #2471A3;" >
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/063.webp" class="card-img-top" alt="City at Night"/>
            <div class="card-body">
              <a routerLink="/listtallervirtual" class="card-link text-white"> <strong> TALLERES VIRTUALES </strong>  <br/></a>
              <p class="card-text text-white"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-pie> </app-pie>