<app-encabezado></app-encabezado>
    
<ion-content [fullscreen]="true">
   
    <app-menu></app-menu> 
    
<div clas ="container">
  <div class="Concurso de robotica">
    <div clas ="container">
      <div class="titulo1 " role="alert">  
      <div class="container-fluid-row">
          <p><p class="text-center text-white " style="margin-left: 150px;">  
      </div>
    </div>
    

<div class="Carteles">
<div clas ="container">
  <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
  <div class="container-fluid-row">
      <p><p class="text-center text-white ">
        <strong> Carteles</strong><br>
  </div>
</div>


<div class="cards">

<div class="container">
    <div class="row justify-content-center">
        <!-- Primera tarjeta -->
        <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                <div class="card-body " style="background-color: #2471A3;">
                    <a routerLink="/cartelvista" class="card-link text-white "> <strong>RÓBOTICA Y SU IMPACTO EN LAS INDUSTRIA </strong> <br/> </a>
                   
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small" >
                    <li class="list-group-item px-4" > Juan Francisco Vazquez</li>
                   
                </ul>
            </div>
        </div>

        <!-- Segunda tarjeta -->
        <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/063.webp" class="card-img-top" alt="City at Night"/>
                <div class="card-body" style="background-color: #2471A3;">
                    <a href="#" class="card-link text-white"> <strong>PROGRAMACION EN LENGUAJE MAQUINA </strong></a>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4 ">José Alfredo Pineda</li>
                   
                </ul>
            </div>
        </div>

        <!-- Tercera tarjeta -->
        <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/064.webp" class="card-img-top" alt="Cityscape"/>
                <div class="card-body" style="background-color: #2471A3;">
                    <a href="#" class="card-link text-white"> <strong>NODE.JS & COHERE: SENTIMENT ANALYSIS </strong></a>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4">Luis Fernando Fernandez</li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <!-- Primera tarjeta -->
        <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                <div class="card-body" style="background-color: #2471A3;">
                    <a href="#" class="card-link text-white"><strong> LA IMPORTANCIA DE LA PROGRAMACIÓN </strong></a>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4"> Noé Velazquez Arriega</li>
                   
                </ul>
            </div>
        </div>

        <!-- Segunda tarjeta -->
        <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/063.webp" class="card-img-top" alt="City at Night"/>
                <div class="card-body" style="background-color: #2471A3;">
                    <a href="#" class="card-link text-white"> <strong> HERRAMIENTAS DE CYBERSEGURIDAD </strong> </a>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4">Luis Alberto Pineda Córtes</li>
                  
                </ul>
            </div>
        </div>

        <!-- Tercera tarjeta -->
        <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/064.webp" class="card-img-top" alt="Cityscape"/>
                <div class="card-body" style="background-color: #2471A3;">
                    <a href="#" class="card-link text-white"> <strong>PROGRAMACIÓN CON PYTHON:BASICO </strong></a>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4">Alan Castillo Lopez</li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<app-pie></app-pie>