<app-encabezado></app-encabezado>
    
<ion-content [fullscreen]="true">
   
    <app-menu></app-menu> 
    <app-slider> </app-slider>
    
  <div clas ="container">
    <div class="Concurso de robotica">
      <div clas ="container">
        <div class="titulo1 " role="alert">  
        <div class="container-fluid-row">
            <p><p class="text-center text-white " style="margin-left: 150px;">  
        </div>
      </div>

<div class="taller virtual">
  <div clas ="container">
    <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white">
          <strong> TALLER DE APLICACIONES SENSORIALES</strong><br>
    </div>
  </div>
  
    <div id =img >
      <img src="../../assets/icon/ADOLFO MELENDEZ.jpeg"width="350" height="300" alt="con" style="display: flex;" >  
    </div>
  
    <div class="alert alert-primary-fluid-row rounded shadow-lg mt-5 mb-5 " role="alert">  
      <p><p class="text-justify">
        <strong> DR. ADOLFO MELÉNDEZ RAMÍREZ </strong><br>
        Es profesor de tiempo completo en el Tecnológico de Estudios Superiores de Ecatepec, en la División de Ingeniería de Sistemas Computacionales. 
        Además, es el líder del cuerpo académico en inteligencia artificial aplicada, colaborando dentro del Centro de Cooperación Academia-Industria del TESE. 
        Debido a su destacado trabajo, ha recibido reconocimiento como un perfil deseable acreditado por PROMEP.
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4"><div class=" horario alert-primary-fluid-row rounded shadow-lg mt-2 mb-5" role="alert">  
        <p><p class="text-center">
        <strong> Martes 17 enero 2024</strong> <br>
        De 11:50:00 hrs. a 12:40:00 hrs.
        </div></div>
        
      <div class="col-md-4 ms-auto"><div role="alert">  
        <p>
          <a href="https://meet.google.com/ctw-ezhh-rox" target="_blank">
            <button type="button" class="button text-white"  ><strong>ACCESO</strong></button >
          </a>
        
      </div></div>
    </div>

    
  <app-pie></app-pie>
  