<app-encabezado></app-encabezado> 
<ion-content [fullscreen]="true">


 <div clas ="container">
    <div class="Concurso de robotica">
      <div clas ="container">
        <div class="titulo1 " role="alert">  
        <div class="container-fluid-row">
            <p><p class="text-center text-white " style="margin-left: 150px;">  
        </div>
      </div>

<div class="TalleresPresenciales">
  <div clas ="container">
    <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white ">
          <strong> TALLERES VIRTUALES</strong><br>
    </div>
  </div>


  <div class="cards">

    <div class="container">
        <div class="row justify-content-center">
            <!-- Primera tarjeta -->
            <div class="col-md-4 mb-4">
                <div class="card rounded shadow-lg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                    <div class="card-body" style="background-color: #2471A3;">
                        <a routerLink="/tallervirtual" class="card-link text-white"> <strong>TALLER-APLICACIONES DE SENSORES EN ROBÓTICA </strong> <br/> </a>
                       
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-4">DR. ADOLFO MELÉNDEZ RAMÍREZ</li>
                        <li class="list-group-item px-4"> Martes 17 enero 2024 <br/>
                          De 11:50:00 hrs. a 12:40:00 hrs. </li>
                    </ul>
                </div>
            </div>
  
            <!-- Segunda tarjeta -->
            <div class="col-md-4 mb-4">
                <div class="card rounded shadow-lg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/063.webp" class="card-img-top" alt="City at Night"/>
                    <div class="card-body" style="background-color: #2471A3;">
                        <a href="#" class="card-link text-white" > <strong>TALLER-INTRODUCCIÓN A LA PROGRAMACIÓN </strong><br/></a>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-4">L.I. JOSÉ ALFREDO JIMÉNEZ MEZA</li>
                        <li class="list-group-item px-4">Martes 17 enero 2024 <br/>
                                                         De 12:00:00 hrs. a 18:00:00 hrs.</li>
                    </ul>
                </div>
            </div>
  
            <!-- Tercera tarjeta -->
            <div class="col-md-4 mb-4">
                <div class="card rounded shadow-lg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/064.webp" class="card-img-top" alt="Cityscape"/>
                    <div class="card-body" style="background-color: #2471A3;">
                        <a href="#" class="card-link text-white"> <strong>NODE.JS & COHERE: SENTIMENT ANALYSIS </strong></a>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-4">ING. LUIS FERNANDO FÉRNANDEZ</li>
                        <li class="list-group-item px-4">Martes 17 enero 2024 <br/>
                                De 11:50:00 hrs. a 12:40:00 hrs.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <!-- Primera tarjeta -->
            <div class="col-md-4 mb-4">
                <div class="card rounded shadow-lg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                    <div class="card-body" style="background-color: #2471A3;">
                        <a href="#" class="card-link text-white"> <strong>TALLER-INTRODUCCIÓN A ROS Y OPENCV </strong></a>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-4">DR. NOÉ VELÁZQUEZ LÓPEZ.</li>
                        <li class="list-group-item px-4">Martes 17 enero 2024 <br/>
                                                        De 11:50:00 hrs. a 12:40:00 hrs.</li>
                    </ul>
                </div>
            </div>
  
            <!-- Segunda tarjeta -->
            <div class="col-md-4 mb-4">
                <div class="card rounded shadow-lg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/063.webp" class="card-img-top" alt="City at Night"/>
                    <div class="card-body" style="background-color: #2471A3;">
                        <a href="#" class="card-link text-white"> <strong>HERRAMIENTAS DE CYBERSEGURIDAD KALI NUX </strong> </a>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-4">DR. Luis Alberto Pineda Córtes</li>
                        <li class="list-group-item px-4">Martes 17 enero <br/>
                                De 13:15:00 hrs. a 14:05:00 hrs..</li>
                    </ul>
                </div>
            </div>
  
            <!-- Tercera tarjeta -->
            <div class="col-md-4 mb-4">
                <div class="card rounded shadow-lg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/064.webp" class="card-img-top" alt="Cityscape"/>
                    <div class="card-body" style="background-color: #2471A3;">
                        <a href="#" class="card-link text-white"><strong>TALLER-PROGRAMACIÓN CON PYTHON:BASICO </strong></a>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-4">DR. EMMANUEL JUÁREZ VELÁZQUEZ</li>
                        <li class="list-group-item px-4">Martes 17 enero <br/>
                                De 12:00:00 hrs. a 18:00:00 hrs.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
  <app-pie></app-pie>