<app-encabezado></app-encabezado>
<ion-content [fullscreen]="true">
    <app-menu></app-menu> 
<div clas ="container">
  <div class="">
    <div clas ="container">
      <div class="titulo1 " role="alert">  
      <div class="container-fluid-row">
          <p><p class="text-center text-white " style="margin-left: 150px;">  
      </div>
    </div>

<div class="Carteles">
<div clas ="container">
  <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
  <div class="container-fluid-row">
      <p><p class="text-center text-white ">
        <strong> "RÓBOTICA Y SU IMPACTO EN LA INDUSTRIA" </strong><br>
  </div>
</div>
<div class="text-center"> <!-- Contenedor para centrar la imagen -->
  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="img-fluid" alt="Wild Landscape" />
</div>
</div>  <app-pie></app-pie>