<app-encabezado></app-encabezado>
    
<ion-content [fullscreen]="true">
   
    <app-menu></app-menu> 
    <app-slider> </app-slider>
    
    
<div clas ="container">
  <div class="Concurso de robotica">
    <div clas ="container">
      <div class="titulo1 " role="alert">  
      <div class="container-fluid-row">
          <p><p class="text-center text-white " style="margin-left: 150px;">  
      </div>
    </div>
    
  <div class="Concurso de robotica">
    <div clas ="container">
      <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
      <div class="container-fluid-row">
          <p><p class="text-center text-white " >
            <strong> CONCURSO DE ROBOTICA</strong><br>
      </div>
    </div>
    
      <div class="conv alert-primary-fluid-row rounded shadow-lg mt-5 mb-5 " role="alert">  
        <p><p class="text-center">
          <strong>  CONVOCATORIA 2024 LA DIVISIÓN  DE INGENIERIA EN SISTEMAS COMPUTACIONALES, EL CLUB DE ROBÓTICA Y LA SOCIEDAD MEXICANA DE INGENIERÍA EN TECNOLOGÍAS DE LA INFORMACIÓN MECATRÓNICA Y TELEMÁTICA A. C.  </strong><br>
      </div>
    </div>

    <div class=" alert alert-primary-fluid-row rounded shadow-lg mt-5 mb-5 " role="alert">  
      <p><p class="text-justify">
        <strong> INVITA A:</strong><br>
        INSTITUCIONES A NIVEL INTERNACIONAL DE NIVEL SUPERIOR A PARTICIPAR CON SUS ESTUDIANTES, DOCENTES E INVESTIGADORES DE LAS CARRERAS DE 
        INGENIERÍA EN SISTEMAS COMPUTACIONALES, INGENIERÍA EN INFORMÁTICA, INGENIERÍA EN TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIONES Y LAS 
        DIFERENTES ÁREAS A FIN, A PARTICIPAR EN EL CONCURSO INTERNACIONAL DE PROGRAMACIÓN DE ALGORITMOS APLICADOS A LA SEGURIDAD INFORMÁTICA. EL OBJETIVO
          ES QUE LOS PARTICIPANTES MUESTREN SUS HABILIDADES DE PROGRAMACIÓN DE ALGORITMOS Y LA CAPACIDAD DE ANÁLISIS PARA RESOLVER PROBLEMAS DE ESTA ÁREA. 
    </div>
    </div>
   
    <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://www.primer-congreso-nacional-industrial-sistemas.com/_files/ugd/47b699_5dc4920defec487ebdd87fc111e9854c.pdf" target="_blank">
      <button type="button" class="button text-white"  role="alert"  ><strong>Convocatoria</strong></button >
    </a>
       
    <button class="button  button text-white fluid-row rounded shadow-lg mt-5 mb-5 " role="alert"> 
      <p><p class="text-center"> 
      <a routerLink="/registro" class="card-link text-white"> <strong>REGISTRO</strong> <br/> </a>
        </button >


            <app-pie></app-pie>

     

 