
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Dropdown Menu</title>
       
     <div class="text-center" style="background-color: #2471A3">
     <nav class="navbar">
         <ul class="nav-links">
             <li class="nav-link">
                 <a href="#">Inicio</a>
             </li>
             <li class="nav-link services">
                 <a href="#">Actividades
                     <span class="material-icons dropdown-icon">
                         
                     </span>
                 </a>
                 <ul class="drop-down">                 
                     <a routerLink="/menutaller"><li >Talleres </li></a>
                     <a routerLink="/menuconfe"><li>Conferencias</li></a>
                     <a routerLink="/listaponen"><li>Ponencias</li></a>
                     <a routerLink="/listacarteles"><li>Carteles</li></a>
                     <a routerLink="/concursoprogra"><li>Concurso de Programación</li></a>
                     <a routerLink="/concursorobotica"><li>Concurso de Róbotica</li></a>
                     <a routerLink="/registroAct"><li>Ponencia</li></a>
                 </ul>
             </li>
             

        <!-- Menú de Registro -->
        <li class="nav-link services">
          <a href="#">Registro
              <span class="material-icons dropdown-icon"></span>
          </a>
          <ul class="drop-down">
              <a routerLink="/registrousuario">
                  <li>Datos Generales</li>
              </a>
              <ng-container *ngFor="let perfil of perfiles">
                  <a [routerLink]="['/registroAct']" [ngClass]="{'disabled-link': !isLoggedIn}">
                      <li>{{ perfil.perfiles }}</li>
                  </a>
              </ng-container>
          </ul>
      </li> 


             <li class="nav-link">
                 <a href="/src/app/concurso-progra/concurso-progra.component.html">Convocatoria</a>
             </li>
             <span class="material-icons dropdown-icon">                         
             </span>                       
             <li class="nav-link">
                 <a href="#">Programa General</a>
             </li>


            <!-- Administrador -->
              <li class="nav-link services" *ngIf="isLoggedIn">
                  <a routerLink="/login" class="avatar-text">
                    <li>Administrador Vistas</li>
                  </a>
                  <span class="material-icons dropdown-icon"></span>
                  <ul class="drop-down">      
                    <li><a routerLink="/perfiles">Perfiles</a></li>
                    <li><a routerLink="/lineas">Lineas</a></li>
                    <li><a routerLink="/ejes">Ejes</a></li>
                    <li><a (click)="logout()">cerrar sesion</a></li>
                  </ul>
              
            <!--iniciar sesión -->
            <li class="nav-link services">
              <a routerLink="/login" class="avatar-text">
                <li>Iniciar Sesión</li>
              </a>  
            </li>

            </ul>
     </nav>
 </div>
