
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Dropdown Menu</title>
       
     <div class="text-center" style="background-color: #2471A3">
     <nav class="navbar">
         <ul class="nav-links">
             <li class="nav-link">
                 <a href="#">Inicio</a>
             </li>
             <li class="nav-link services">
                 <a href="#">Actividades
                     <span class="material-icons dropdown-icon">
                         
                     </span>
                 </a>
                 <ul class="drop-down">
                    <button (click)="Talleres"> Taller</button>
                     <a routerLink="/menutaller"><li >Talleres </li></a>
                     <a routerLink="/menuconfe"><li>Conferencias</li></a>
                     <a routerLink="/listaponen"><li>Ponencias</li></a>
                     <a routerLink="/listacarteles"><li>Carteles</li></a>
                     <a routerLink="/concursoprogra"><li>Concurso de Programación</li></a>
                     <a routerLink="/concursorobotica"><li>Concurso de Róbotica</li></a>
                 </ul>
             </li>
             <li class="nav-link">
                <a href="#">Registros</a>
            </li>
             <li class="nav-link">
                 <a href="/src/app/concurso-progra/concurso-progra.component.html">Convocatoria</a>
             </li>
             <span class="material-icons dropdown-icon">                         
             </span>                       
             <li class="nav-link">
                 <a href="#">Programa General</a>
             </li>

         </ul>
     </nav>
 </div>

 <div class="container container-custom">
    <!-- Agregado la clase container-custom -->
  
    <div id="carouselExampleControls" class="carousel slide ms-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/icon/Slider1.jpg" class="d-block w-100" alt="Imagen1">
            </div>
            <div class="carousel-item">
                <img src="../../assets/icon/Slider1.jpg" class="d-block w-100" alt="Imagen2">
            </div>
            <div class="carousel-item">
                <img src="../../assets/icon/Slider1.jpg" class="d-block w-100" alt="Imagen3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  
  </div>
  <div class="menuTalleres">
        <div clas ="container">
                <div class="Concurso de programacion">
                  <div clas ="container">
                    <div class="titulo1 " role="alert">  
                    <div class="container-fluid-row">
                        <p><p class="text-center text-white " style="margin-left: 150px;">  
                    </div>
                  </div>