<app-encabezado-soc></app-encabezado-soc>
<ion-content [fullscreen]="true">
<app-menu-soc></app-menu-soc>


<div class=" Pagos">
  <div clas ="container">
    <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white " >
          <strong> Congreso 2024</strong><br>
    </div>
  </div>

  <div class="container">
    <div class="row mb-4 align-items-center">
      <div class="col-md-6 text-md-end mb-4 mb-md-0">
        <div class="card rounded shadow-lg">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
        </div>
      </div>
    </div>
    <div class="row mb-4 align-items-center">
      <div class="col-md-6 offset-md-6 text-md-start mb-4 mb-md-0">
        <div class="card rounded shadow-lg">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/063.webp" class="card-img-top" alt="New York Skyscrapers"/>
        </div>
      </div>
    </div>
    <div class="row mb-4 align-items-center">
      <div class="col-md-6 text-md-end mb-4 mb-md-0">
        <div class="card rounded shadow-lg">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/064.webp" class="card-img-top" alt="San Francisco Skyscrapers"/>
        </div>
      </div>
    </div>
  </div>

  <app-pie-soc> </app-pie-soc>