Form {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 50px;
    width: 100%;
    margin-bottom: 150px; /* Ajusta este valor según sea necesario */
   box-shadow: 0 4px 8px #909497 ; 
    font-size: 16px;
   
  }
   ion-item{
    margin-bottom: 15px;
    border-radius: 6px;
    padding: -30px;
    border: 3px solid #2E86C1  ;
    width: 0 auto;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items:center ;
   }
   
   .form-select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px solid #1e7ebe ;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  
  .titulo1{
    width: 800px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2471A3;
    font-size: 26px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
   }
   .informacion {
    display: none;
    color: #1A5276;
    font-size: 40px;
    
  }
  .form-check-input:checked + .form-check-label + .informacion {
    display: block;
  }
  .form-check {
    margin-right: 150px; /* Puedes ajustar este valor según sea necesario */
    margin-left: 70px;
  }
  .form-control {
    border: 3px solid #1e7ebe ;
  }
  .input-group-text{
    border: 3px solid #1e7ebe ;
  }
  .text{
    font-size: 18px;
    justify-content: left;
  }
  .form-control{
    font-size: 11px;
  }
  // Select popover
  .custom-select-container {
    position: relative;
    font-size: 16px;
 
  width: 100%;
  }
  .custom-select {
    display: block;
   
    padding: 3%;
    border: 3px solid #1e7ebe;
    border-radius: 5px;
    cursor: pointer;
  }
  .custom-options {
    position: absolute;
    top: 70%;
    border: 2px solid #1e7ebe;
    background-color:  #fff;
    
    z-index: 1000;
  }
  .custom-option {
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    color: black;
  }
  .custom-option:hover {
    background-color: #1e7ebe;
  }
  .popover {
    position:absolute;
  top: auto;
    left: 100%;
    margin-left: 10px;
    padding: 20px;
    border: 2px solid #1e7ebe;
    background-color: #fff;
    font-size: 16px;
    z-index: 1000;
  }
  .checkbox-label {
    font-size: 16px; /* Cambia el tamaño de la letra según tus necesidades */
    margin-right:  160px; /* Ajusta el espacio interno a la izquierda del contenedor del texto */ 
    vertical-align:middle; /* Alinea verticalmente el texto con el cuadro del checkbox */ 
    color:     #1b2631   ;
  
  }
    
  .checkbox-input {
    width: 25px; /* Cambia el tamaño del cuadro del checkbox según tus necesidades */
    height: 25px; /* Cambia el tamaño del cuadro del checkbox según tus necesidades */
    border: 2px solid #1A5276;
  }
  .texts{
    font-size: 16px;
  }
  .ion-item-container {
    max-width: 600px; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 10px; /* Opcional: agrega padding si es necesario */
    
  }
  
  .ion-items-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    gap: 20px; /* Espacio entre los ion-item, ajusta según sea necesario */
   
  }
  
  .ion-item {
    flex: 1; /* Permite que los ion-item se ajusten al tamaño del contenedor */
    max-width: 48%; /* Asegura que los items no se desborden, ajusta según sea necesario */
  }
  .accordion-button {
    border: none;
    outline: none;
    box-shadow: none;
    color:#1A5276;
    font-size: 16px;
  }
  .accordion-button::after {
    transition: transform 0.2s ease-in-out;
  }
  
  .accordion-button.collapsed::after {
    transform: rotate(0deg);
  }
  .accordion-item {
    border: none;
  }
  
  .accordion-header {
    border-bottom: none;
   
  }
  
  .accordion-collapse {
    border-top: none;
  }
   //boton agregar

.custom-btn {
  font-size: 1.5rem;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-btn i {
  font-size: 1rem;
}
.label-lg {

  font-size: 16px;

}
// Estilos específicos para la tabla
.table-font-size {

  font-size: 13px;

}