<app-encabezado-soc></app-encabezado-soc>
<ion-content [fullscreen]="true">
<app-menu-soc></app-menu-soc>


<div class="  Membresia">
  <div clas ="container">
    <div class="tituloPrin fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white " >
          <strong>  Membresía </strong><br>
    </div>
  </div>


  <div class="subtitulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white " >
          <strong>  Presentación </strong><br>
    </div>
  </div>

  <div class=" info alert-primary-fluid-row rounded shadow-lg mt-5 mb-5 " role="alert">  
    <p><p class="text-justify">
      Las aportaciones que la SMCTSM recibe a través del pago de Membresía, le permiten desarrollar sus actividades sustantivas, las que finalmente inciden en ofrecer principalmente una Reunión Internacional de calidad al costo más bajo y, 
      que permite además, que un alto número de estudiantes pueda asistir recibiendo el material completo, con posibilidad de recibir también una beca de inscripción a la Reunión, así como otra clase de apoyos.
  </div>
  
  <div class="container center-table">
    <table class="table table-bordered-blue">
      <thead>
        <tr>
          <th scope="col">2024 TESE</th>
          <th scope="col">Estudiante</th>
          <th scope="col">Investigador</th>
          <th scope="col">Socio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Membresia</th>
          <td>$1100</td>
          <td></td>
          <td></td>
        </tr>  
        <tr>
          <th scope="row">Early Bird</th>
          <td>$2600</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Antes del congreso</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="subtitulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white " >
          <strong> Beneficios </strong><br>
    </div>
  </div>

  <div class=" info alert-primary-fluid-row rounded shadow-lg mt-5 mb-5 " role="alert">  
    <p><p class="text-justify">
        <li>
          Derecho a participar en los premios de la Sociedad
        </li>
        <li>
          Tarifa reducida para la Reunión Anual
        </li>
        <li>
          Tarifa reducida en otros eventos de la Sociedad
        </li>
        <li>
          Derecho a solicitar Beca estudiantil para la Reunión
        </li>
        <li>
          Derecho a participar en la toma de decisiones que regulan a nuestra Sociedad
        </li>
  </div>

  <div class="container text-center">
    <div class="row">
     
      <div class="col-md-4 ms-auto"><div role="alert">  
        <p>
          <a routerLink="/pagos" >
            <button type="button" class="button text-white"  ><strong>Pagos</strong></button >
          </a>
      </div></div>

      <div class="col-md-4 ms-auto"><div role="alert">  
        <p>
          <a routerLink="/mesa-direc">
            <button type="button" class="button text-white"  ><strong> Solicitud Membresía</strong></button >
          </a>
        
      </div></div>
  </div>
</div>

</div></div>

<app-pie-soc> </app-pie-soc>