ion-toolbar{
    color: #1A5276;

    position: inherit;
    
  }
  .titulo2 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style:oblique;
    font-size: x-large;
    margin-top: -80px;
    margin-bottom: 50px;
    justify-content: center;
    font-size: 600;

  }
