<app-encabezado-soc></app-encabezado-soc>
<ion-content [fullscreen]="true">
<app-menu-soc></app-menu-soc>




<div class="Carteles">
  <div clas ="container">
    <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white ">
          <strong> Congresos</strong><br>
    </div>
  </div>
  
  
  <div class="cards">
  
  <div class="container">
      <div class="row justify-content-center">
          <!-- Primera tarjeta -->
          <div class="col-md-4 mb-4">
              <div class="card rounded shadow-lg">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                  <div class="card-body " style="background-color: #2471A3;">
                      <a routerLink="/cartelvista" class="card-link text-white "> <strong>Congreso 2024 </strong> <br/> </a>  
              </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-4">
          <div class="card rounded shadow-lg">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body " style="background-color: #2471A3;">
                  <a routerLink="/cartelvista" class="card-link text-white "> <strong>Congreso 2023 </strong> <br/> </a>  
          </div>
      </div>
    </div>
  
    <div class="col-md-4 mb-4">
      <div class="card rounded shadow-lg">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
          <div class="card-body " style="background-color: #2471A3;">
              <a routerLink="/cartelvista" class="card-link text-white "> <strong>Congreso 2022 </strong> <br/> </a>  
      </div>
  </div>
  </div>
  </div>
  </div>

  <app-pie-soc> </app-pie-soc>