<app-encabezado-soc></app-encabezado-soc>
<ion-content [fullscreen]="true">
<app-menu-soc></app-menu-soc>




<div class="Mesa Directiva">
  <div clas ="container">
    <div class="tituloPrin fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
    <div class="container-fluid-row">
        <p><p class="text-center text-white ">
          <strong> Mesa Directiva</strong><br>
    </div>
  </div>
  
  
  <div class="cards">
  
  <div class="container">
      <div class="row justify-content-center">
          <!-- Primera tarjeta -->
          <div class="col-md-4 mb-4">
              <div class="card rounded shadow-lg">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                  <div class="card-body " style="background-color: #2471A3;">
                      <a routerLink="/cartelvista" class="card-link text-white "> <strong>PRESIDENTE </strong> <br/> </a>
                     
                      <p class="card-text"></p>
                  </div>
                  <ul class="list-group list-group-light list-group-small" >
                      <li class="list-group-item px-4" > Nombre</li>
                  </ul>
                  <ul class="list-group list-group-light list-group-small" >
                    <li class="list-group-item px-4" > Correo</li>
                </ul>
              </div>
          </div>
  
               <!-- segunda tarjeta -->
               <div class="col-md-4 mb-4">
                <div class="card rounded shadow-lg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                    <div class="card-body " style="background-color: #2471A3;">
                        <a routerLink="/cartelvista" class="card-link text-white "> <strong>SECRETARIA </strong> <br/> </a>
                       
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-light list-group-small" >
                        <li class="list-group-item px-4" > Nombre</li>
                    </ul>
                    <ul class="list-group list-group-light list-group-small" >
                      <li class="list-group-item px-4" > Correo</li>
                  </ul>
                </div>
            </div>
  
                 <!-- tercera tarjeta -->
          <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                <div class="card-body " style="background-color: #2471A3;">
                    <a routerLink="/cartelvista" class="card-link text-white "> <strong>TESORERO </strong> <br/> </a>
                   
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small" >
                    <li class="list-group-item px-4" > Nombre</li>
                </ul>
                <ul class="list-group list-group-light list-group-small" >
                  <li class="list-group-item px-4" > Correo</li>
              </ul>
            </div>
        </div>
  
             <!-- Primera tarjeta -->
             <div class="col-md-4 mb-4">
              <div class="card rounded shadow-lg">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                  <div class="card-body " style="background-color: #2471A3;">
                      <a routerLink="/cartelvista" class="card-link text-white "> <strong>VOCAL DE CONGRESOS</strong> <br/> </a>
                     
                      <p class="card-text"></p>
                  </div>
                  <ul class="list-group list-group-light list-group-small" >
                      <li class="list-group-item px-4" > Nombre</li>
                  </ul>
                  <ul class="list-group list-group-light list-group-small" >
                    <li class="list-group-item px-4" > Correo</li>
                </ul>
              </div>
          </div>
  
          <!-- Primera tarjeta -->
          <div class="col-md-4 mb-4">
            <div class="card rounded shadow-lg">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
                <div class="card-body " style="background-color: #2471A3;">
                    <a routerLink="/cartelvista" class="card-link text-white "> <strong>VOCAL DE CURSOS</strong> <br/> </a>
                   
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-light list-group-small" >
                    <li class="list-group-item px-4" > Nombre</li>
                </ul>
                <ul class="list-group list-group-light list-group-small" >
                  <li class="list-group-item px-4" > Correo</li>
              </ul>
            </div>
        </div>
   
        <!-- Primera tarjeta -->
        <div class="col-md-4 mb-4">
          <div class="card rounded shadow-lg">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body " style="background-color: #2471A3;">
                  <a routerLink="/cartelvista" class="card-link text-white "> <strong>VOCAL DE PUBLICACIONES</strong> <br/> </a>
                 
                  <p class="card-text"></p>
              </div>
              <ul class="list-group list-group-light list-group-small" >
                  <li class="list-group-item px-4" > Nombre</li>
              </ul>
              <ul class="list-group list-group-light list-group-small" >
                <li class="list-group-item px-4" > Correo</li>
            </ul>
          </div>
      </div>
  </div> 
  </div>
  </div>

  <app-pie-soc> </app-pie-soc>
     