.titulo1{
  width: 2400px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 22px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;;
} 
.titulo{
  width: 1650px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2471A3;
  font-size: 26px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;;
} 
.conv{
  width: 1650px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#EAEDED;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;;
 
}
.alert{
  width: 1650px;
  height:300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#EAEDED;
  font-size: 22px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.button{
  width: 600px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30 px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2471A3;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
 
}