<ion-item> 
  <ion-label position="floating" >Nombre del equipo:</ion-label>
  <ion-input type="text"  placeholder=""></ion-input>
  </ion-item> 
  <fieldset class="form-group">
    <legend class="col-form-label col-sm-4 pt-0"><strong> Rol dentro del equipo:</strong></legend>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Capitán</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Subcapitán</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">Integrante</label>
                </div>
            </div>
        </div>
    </div>
    <p></p>
     <!-- <div class="form-container col-sm-5">
      <select class="custom-select">
        <option disabled selected>Categoria <ion-text color="danger">*</ion-text></option>
        <option *ngFor="let category of robots" [value]="category.id">
          {{ category.nombre}}
        </option>
      </select>
    </div>  -->
    <p></p>
    <div class="d-flex align-items-center mb-2">
      <label for="actionButton" class="text me label-lg"><strong>Agregar integrantes</strong></label>
        <button id="actionButton" class="btn btn-lg btn-floating text-white custom-btn" style="background-color:  #2471a3 ;" type="button" >
          <i class="fas fa-plus"></i> <!-- Ícono de Font Awesome para el signo de más -->
        </button>
      </div>
      <table class="table table-hover">
        <thead>              
          <tr>              
            <th scope="col" class="table-font-size">Nombre</th>              
            <th scope="col" class="table-font-size">Apelllido P</th>              
            <th scope="col" class="table-font-size">Apellido M</th>              
            <th scope="col" class="table-font-size">Correo</th>              
            <th scope="col" class="table-font-size">Rol</th>              
            <th scope="col" class="table-font-size" class="text-nowrap"></th>              
          </tr>              
        </thead>              
        <tbody>              
          <tr class="table-primary">              
            <td class="table-font-size text-nowrap">Column content</td>              
            <td class="table-font-size text-nowrap">Column content</td>              
            <td class="table-font-size text-nowrap">Column content</td>              
            <td class="table-font-size text-nowrap">Column content</td>              
            <td class="table-font-size text-nowrap">Column content</td>              
            <td class="table-font-size text-nowrap">              
                <button type="button" class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          Editar
        </button>              
        <button type="button" class="btn btn-primary ms-2"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; ">
  Eliminar
</button>              
          </tr>              
        </tbody>              
      </table>
      