<div clas ="container">
  <div class="Concurso de robotica">
    <div clas ="container">
      <div class="titulo1 " role="alert">  
      <div class="container-fluid-row">
          <p><p class="text-center text-white " style="margin-left: 150px;">  
      </div>
    </div>
    
  <div class="Concurso de robotica">
    <div clas ="container">
      <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
      <div class="container-fluid-row">
          <p><p class="text-center text-white " >
            <strong>  ¿Quienes somos? </strong><br>
      </div>
    </div>
    
    <div class=" alert alert-primary-fluid-row rounded shadow-lg mt-5 mb-5 " role="alert">  
      <p><p class="text-justify">
       La Sociedad Mexicana de Ingenería en Tecnologías de la Información, Mecatrónica y Telemática tuvo sus orígenes en el siglo pasado, en la década de los setentas, cuando se aglutinaron diferentes grupos dedicados principalmente al estudio de Superficies, donde los principales Centros de Investigación establecidos en la Ciudad de México se destacaron por su impulso a estas actividades.
       Promoviendo el uso, desarrollo, difusión y divulgación de la Ciencia y Tecnología de la Ingeniería en Sistemas Computacionles, Informatica, Mecatrónica e Industrial y en Electronica.
    </div>
    </div>
   
    
