<div id ="header">
  <ion-header [translucent]="true">
<ion-toolbar >
  <img src="../../assets/icon/logo.jpg" width="180" height="180" alt="con" style="display: flex;">
    <ion-title class="titulo2 text-center " style="margin-left: 200px;"><strong>
       CONGRESO INTERNACIONAL DE PROYECTOS DE INVESTIGACIÓN E INNOVACIÓN TECNOLÓGICA Y ROBÓTICA 2024<br/>
       Sede en las instalaciones de el Tecnologico de Estudios Superiores de Ecatepec, México, dias 28, 29 y 30 de Noviembre de 2024.</strong></ion-title>
       <strong> </strong> 
    </ion-toolbar>
    </ion-header>
    <div clas ="container">
      <div class="titulo fluid-row rounded shadow-lg mt-3 mb-5 " role="alert">  
      <div class="container-fluid-row">
          <p><p class="text-center text-white " >
            <strong>  REGISTRO </strong><br>
      </div>
    </div>
      
    
    <form [formGroup]="loginForm" >
      <!-- <ion-item>
         <ion-label position="floating">id usuario <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="user.idusuario" formControlName="idusuario" type="text"></ion-input>
      </ion-item>   -->
     
       <ion-item>
        <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="user.nombre" formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Apeliido Paterno <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="user.paterno"required formControlName="paterno" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido Materno <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="user.materno" formControlName="materno" type="text"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label position="floating">Correo <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="user.correo" formControlName="correo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono <ion-text color="danger">*</ion-text></ion-label>
  <ion-input [(ngModel)]="user.telefono" formControlName="telefono" type="text"></ion-input>
  </ion-item> 

  <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" class="form-container custom-select"formControlName="id_institucion">
    <option value="0" >Institución <ion-text color="danger">*</ion-text></option>  
    <option *ngFor="let i of instituciones" [value]="i.id_institucion"  >  
      {{ i.nombreinst }}  
    </option>  
  </select>  
  

   
<legend class="text col-sm-6 texts">Seleccione la actividad a realizar: </legend>
 <div class="opciones">
  <div class="form-check"> 
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">Ponencia</label>
          <div class="informacion text-center" id="informacionTaller">
              <strong> Datos Ponencia </strong> <br/>
              <p></p>    
      <app-ponencia ></app-ponencia>
      <app-direccion> </app-direccion>
    </div>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">Taller</label>
  <div class="informacion text-center" id="informacionPonente">
    <strong> Datos Taller</strong> <br/>
    <p></p>
    <app-ponencia ></app-ponencia>
      <app-direccion> </app-direccion>
    
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">Cartel</label>
  <div class="informacion text-center" id="informacionPonente">
    <strong> Datos Cartel</strong> <br/>
    <p></p>
    <app-ponencia ></app-ponencia>
      <app-direccion> </app-direccion>
    
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">Conferencia Magistral</label>
  <div class="informacion text-center" id="informacionPonente">
    <strong> Datos Conferencia Magistral</strong> <br/>
    <p></p>
    <app-ponencia ></app-ponencia>
      <app-direccion> </app-direccion>
   
</div>
</div> 
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">Concurso de Robotica</label>
  <div class="informacion text-center" id="informacionPonente">
    <strong> Concurso Robotica</strong> <br/>
    <p></p>
    <app-c-robotica></app-c-robotica>
  </div>
</div> 
   
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">Concurso de Programación</label>
  <div class="informacion text-center" id="informacionPonente">
    <strong> Concurso Programación</strong> <br/>
    <p></p>
    <app-c-programacion></app-c-programacion>
  </div>
</div>  
 


      
    <ion-button block color="primary" (click)="recupera1()" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button>
  
    





 
  
     
   
  




